In [2]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm import tqdm
from hurst import compute_Hc

In [3]:
db_connection_str = 'mysql+pymysql://student:SoQ_trading24/25@3.81.230.185/trading'
db_connection = create_engine(db_connection_str)

In [3]:
query = 'SELECT * from trading.futures_1min_bar'
df = pd.read_sql(query, con=db_connection)
print(df.shape)
df.head()

(312823, 8)

,contract,instrument,bid,offer,bid_size,offer_size,timestamp,adjustment
0,ES,ESZ3,4572.75,4573.00,21,31,2023-12-01 00:01:00,316.375
1,ES,ESZ3,4572.50,4572.75,31,23,2023-12-01 00:02:00,316.375
2,ES,ESZ3,4571.75,4572.00,69,20,2023-12-01 00:03:00,316.375
3,ES,ESZ3,4571.75,4572.00,67,21,2023-12-01 00:04:00,316.375
4,ES,ESZ3,4571.75,4572.00,24,47,2023-12-01 00:05:00,316.375

In [6]:
df.to_parquet('data/futures_1min_bar.parquet')

In [4]:
fx_instrument_sql = "SELECT distinct instrument from trading.fx_1min_bar"
df_fx_instrument = pd.read_sql(fx_instrument_sql, con=db_connection)
fx_list = [fx.replace('"', '') for fx in df_fx_instrument.instrument.values]

In [6]:
fx_list

['EURCZK',
 'AUDUSD',
 'EURHUF',
 'EURNOK',
 'EURPLN',
 'EURSEK',
 'EURUSD',
 'GBPUSD',
 'NZDUSD',
 'USDCAD',
 'USDCHF',
 'USDCNH',
 'USDILS',
 'USDJPY',
 'USDMXN',
 'USDSGD',
 'USDZAR']

In [ ]:
for fx in tqdm(fx_list):
    fx_sql = f"SELECT * from trading.fx_1min_bar where instrument = '\"{fx}\"'"
    df_fx = pd.read_sql(fx_sql, con=db_connection)

    df_fx.to_parquet(f'data/{fx}_data.parquet')

!tree